[user]
	name = Florent Viel
	email = luxifer666@gmail.com
	signingkey = 078451B7D50313B5
[push]
	default = simple
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
	branch-clean = !git remote prune origin && git branch --merged | grep -v \"\\*\" | grep -v \"^[[:space:]]*master$\" | xargs -n 1 git branch -d
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true
